* {
  margin: auto;
  padding: auto;
}
nav {
  background-color: lightblue;
  color: white;
  text-align:center;
  font-size: 50px;
  font-family:"Lilita One", sans-serif;
}
#Player1Score, #Player2Score {
}
.Player1Display, .Player2Display {
  vertical-align: middle;
  font-size: 30px;
  font-family:"Lilita One", sans-serif;
  color:red;
}
#board {
  margin:0 auto;
  margin-top:4em;
}
td {
  margin: 0;
  border: 3px solid black;
}
.square, .used {
  height:130px;
  width:130px;
}
#TicTitle {
  padding-left: 80px;
  padding-right: 80px;
}
#result, #Turn {
  text-align:center;
  font-size: 1.5em;
  color: red;
}
